<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thirdai.app">

    <application
        android:allowBackup="true"
        android:label="Third AI"
        android:supportsRtl="true">

        <activity
            android:name=".ProfileActivity"
            android:exported="false"/>

        <activity
            android:name=".AISettingsActivity"
            android:exported="false"/>

        <activity
            android:name=".AppearanceActivity"
            android:exported="false"/>

        <activity
            android:name=".LanguageActivity"
            android:exported="false"/>

        <activity
            android:name=".NotificationActivity"
            android:exported="false"/>

        <activity
            android:name=".ChatHistoryActivity"
            android:exported="false"/>

        <activity
            android:name=".ClearChatsActivity"
            android:exported="false"/>

        <activity
            android:name=".PrivacyActivity"
            android:exported="false"/>

        <activity
            android:name=".DownloadsActivity"
            android:exported="false"/>

        <activity
            android:name=".AboutActivity"
            android:exported="false"/>

        <activity
            android:name=".SettingsActivity"
            android:exported="false"/>

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

    </application>

</manifest>
